
@font-face {
    font-family: 'baloo';
    src: url(Baloo2-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    color: rgb(129, 129, 129);
    background-image: url(bgakhir.jpg);
    background-repeat: no-repeat;
    background-size: 1350px;
    border-color: 1px rgb(112, 112, 112);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: baloo;
    align-items: center;
    font-weight: 700;
    font-size: 5rem;
}

.container > span {
    position: relative;
    animation: glow 2s ease-in-out infinite;
    top: 100px;
}

@keyframes glow {
    0%, 100%{
        color: rgb(255, 255, 255);
        text-shadow: 0 0 12px rgb(255, 27, 240), 0 0 50px rgb(255, 27, 240), 0 0 100px rgb(255, 27, 240);
    }
    10%, 90%{
        color: rgb(129, 129, 129);
        text-shadow: none;
    }
}

.container >span:nth-child(2) {
    animation-delay: 0s;
}
.container >span:nth-child(3) {
    animation-delay: 0.60s;
}
.container >span:nth-child(4) {
    animation-delay: 0.60s;
}
.container >span:nth-child(5) {
    animation-delay: 0.60s;
}
.container >span:nth-child(6) {
    animation-delay: 0.60s;
}
.container >span:nth-child(7) {
    animation-delay: 0.60s;
}
.container >span:nth-child(8) {
    animation-delay: 1.20s;
}
.container >span:nth-child(9) {
    animation-delay: 1.20s;
}
.container >span:nth-child(10) {
    animation-delay: 1.20s;
}
.container >span:nth-child(11) {
    animation-delay: 1.20s;
}
.container >span:nth-child(12) {
    animation-delay: 1.80s;
}

.pesan {
    position: relative;
    right: 45px;
    bottom: 10px;
    background: rgb(129, 129, 129);
    padding: 10px;
    border-radius: 15px;
    width: 700px;
    height: 300px;
    clip-path: circle(1.5% at 90% 20%);
    transition: all .5s ease-in-out;
    cursor: pointer;
    margin: 20px 0px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.3);
    text-align: justify;
}

.pesan:hover {
    clip-path: circle(75%);
    background: rgba(255, 255, 255, 0.2); /* Warna latar belakang dengan transparansi */
    backdrop-filter: blur(5px);
}

.pesan h1 {
    color: white;
    margin: 0;
    font-size: 15px;
}

.pesan p {
    color: white;
    font-size: 15px;
}

.pesan span {
    font-size: 15px;
    float: right;
    color: white;
    transition: color .5s;
    position: relative;
    margin-right: -7%;
    margin-top: 4%;
    padding: 5px;
}

.pesan:hover  span {
    color: white;
}

.audio {
    display: none;
}
